services:
  # PHP 7.4 services
  cli-php74-mysql80:
    depends_on:
      - db-mysql80
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        PHP_VERSION: 7.4
    environment:
      - DB_HOST=db-mysql80

  cli-php74-mysql84:
    depends_on:
      - db-mysql84
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        PHP_VERSION: 7.4
    environment:
      - DB_HOST=db-mysql84

  cli-php74-mysql93:
    depends_on:
      - db-mysql93
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        PHP_VERSION: 7.4
    environment:
      - DB_HOST=db-mysql93

  # PHP 8.3 services
  cli-php83-mysql80:
    depends_on:
      - db-mysql80
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        PHP_VERSION: 8.3
    environment:
      - DB_HOST=db-mysql80

  cli-php83-mysql84:
    depends_on:
      - db-mysql84
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        PHP_VERSION: 8.3
    environment:
      - DB_HOST=db-mysql84

  cli-php83-mysql93:
    depends_on:
      - db-mysql93
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        PHP_VERSION: 8.3
    environment:
      - DB_HOST=db-mysql93

  # PHP 8.4 services
  cli-php84-mysql80:
    depends_on:
      - db-mysql80
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        PHP_VERSION: 8.4
    environment:
      - DB_HOST=db-mysql80

  cli-php84-mysql84:
    depends_on:
      - db-mysql84
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        PHP_VERSION: 8.4
    environment:
      - DB_HOST=db-mysql84

  cli-php84-mysql93:
    depends_on:
      - db-mysql93
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        PHP_VERSION: 8.4
    environment:
      - DB_HOST=db-mysql93

  # Database services
  db-mysql80:
    image: mysql:8.0
    restart: always
    ports:
      - '3306:3306'
    command: --default-authentication-plugin=mysql_native_password --mysql-native-password=ON
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: diff1
      MYSQL_USER: dbdiff
      MYSQL_PASSWORD: dbdiff

  db-mysql84:
    image: mysql:8.4
    restart: always
    ports:
      - '3307:3306'
    command: --default-authentication-plugin=mysql_native_password --mysql-native-password=ON
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: diff1
      MYSQL_USER: dbdiff
      MYSQL_PASSWORD: dbdiff

  db-mysql93:
    image: mysql:9.3
    restart: always
    ports:
      - '3308:3306'
    command: --default-authentication-plugin=mysql_native_password --mysql-native-password=ON
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: diff1
      MYSQL_USER: dbdiff
      MYSQL_PASSWORD: dbdiff

  # PHPMyAdmin services
  phpmyadmin-mysql80:
    depends_on:
      - db-mysql80
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    ports:
      - 8080:80
    environment:
      PMA_HOST: db-mysql80
      MYSQL_ROOT_PASSWORD: rootpass

  phpmyadmin-mysql84:
    depends_on:
      - db-mysql84
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    ports:
      - 8081:80
    environment:
      PMA_HOST: db-mysql84
      MYSQL_ROOT_PASSWORD: rootpass

  phpmyadmin-mysql93:
    depends_on:
      - db-mysql93
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    ports:
      - 8082:80
    environment:
      PMA_HOST: db-mysql93
      MYSQL_ROOT_PASSWORD: rootpass
