<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         cacheDirectory="../.phpunit.cache"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnDeprecation="false"
         failOnNotice="false"
         failOnWarning="false"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./Migration</directory>
        </testsuite>
        <testsuite name="DBDiff">
            <file>./DBDiffComprehensiveTest.php</file>
            <file>./End2EndTest.php</file>
        </testsuite>
        <testsuite name="Postgres">
            <file>./End2EndPostgresTest.php</file>
            <file>./DBDiffComprehensivePostgresTest.php</file>
        </testsuite>
        <testsuite name="SQLite">
            <file>./End2EndSQLiteTest.php</file>
            <file>./DBDiffComprehensiveSQLiteTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
    </source>
</phpunit>
