<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         cacheDirectory="../.phpunit.cache"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnDeprecation="false"
         failOnNotice="true"
         failOnWarning="true"
>
    <php>
        <!--
            The pg_dump renderer is used automatically whenever pg_dump is on
            PATH, which would make these fixtures pass or fail depending on the
            machine. Pinning it off keeps the expected-SQL suites deterministic;
            PgDumpRendererPostgresTest turns it back on for itself.
        -->
        <env name="DBDIFF_PG_DUMP_RENDERER" value="off"/>
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./Migration</directory>
            <directory suffix="Test.php">./Unit</directory>
            <directory suffix="Test.php">./DataDiff</directory>
        </testsuite>
        <testsuite name="DBDiff">
            <file>./DBDiffComprehensiveTest.php</file>
            <file>./End2EndTest.php</file>
        </testsuite>
        <testsuite name="Postgres">
            <file>./End2EndPostgresTest.php</file>
            <file>./DBDiffComprehensivePostgresTest.php</file>
            <file>./BulkSchemaPostgresTest.php</file>
            <file>./PgDumpRendererPostgresTest.php</file>
            <file>./RoutineOverloadPostgresTest.php</file>
        </testsuite>
        <testsuite name="SQLite">
            <file>./End2EndSQLiteTest.php</file>
            <file>./DBDiffComprehensiveSQLiteTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
    </source>
</phpunit>
